{{#each this}}
<div class="card">
  <div class="card-img-top">
    <img width="40px" height="30" src="{{flag}}" alt="{{name}}">
    <h2 class="card-title">{{name}}</h2>
  </div>
    <p class="card-text"><span class="info-text">Capital:</span> {{capital}};</p>
    <p class="card-text"><span class="info-text">Population:</span> {{population}};</p>

    
    <ul class="list-group"></ul>
      <li class="list-group-item"><span class="info-text">Languages:</span> {{languages.[0].name}};</li>
    </ul>
</div>
{{/each}}